<div class="center">
    <h2>
        Create / Get A Wallet
    </h2>
    <h4>Steps to create wallet for different crypto currency</h4>
</div>

<div class="row">
    <div class="col-s-2">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bitcoin Wallets
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>What is a Bitcoin wallet?</li>
                    <li>What is a privaet Key?</li>
                    <li>HD wallet</li>
                    <li>Choosing your Wallet</li>
                    <li>Main types of wallet</li>
                    <li>Additional Types of wallet</li>
                    <li>Backing Up your Wallet</li>
                    <li>Handling transactional Fee</li>
                    <li>What to Watch out for</li>
                    <li>Best Bitcoin Wallet Review</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Etherium Wallets
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Content1</li>
                    <li>Content2</li>
                    <li>Content3</li>
                    <li>Content4</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Litecoin Wallets
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Content1</li>
                    <li>Content2</li>
                    <li>Content3</li>
                    <li>Content4</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        EOS Wallets
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Content1</li>
                    <li>Content2</li>
                    <li>Content3</li>
                    <li>Content4</li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Hardware Wallets
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li>Content1</li>
                    <li>Content2</li>
                    <li>Content3</li>
                    <li>Content4</li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="col-s-8">
        <div class="bitcoinWallet">
            <!--#######################################################################-->
            <h1>Bitcoin Wallet Reviews and Comparison</h1>
            <p>Last updated: 16.10.18</p>
            <p>Bitcoin wallets are programs that allow you to send and receive Bitcoin. However, in order to choose the best wallet for your needs there are a lot of factors to take into account.</p>
            <h2>Post summary</h2>
            <p>The type of wallet you should choose depends mainly on convince (mobile, desktop and web wallets) and security (hardware and paper wallets) preferences. Here are the best ones available by category (detailed reviews can be found at the bottom
                of this post):</p>
            <ul>
                <li><a href="/goto/ledgernanos" target="_blank" rel="nofollow">Ledger</a> (Hardware)</li>
                <li><a href="/goto/trezor" target="_blank" rel="nofollow">TREZOR</a> (Hardware)</li>
                <li><a href="/goto/exodus" target="_blank" rel="nofollow">Exodus</a> (Desktop)</li>
                <li><a href="/goto/electrum" target="_blank">Electrum</a> (Desktop, not beginner friendly)</li>
                <li><a href="/goto/mycelium" target="_blank">Mycelium</a> (Android)</li>
                <li><a href="/goto/jaxx" target="_blank" rel="nofollow">Jaxx</a> (iOS, Android, desktop)</li>
            </ul>
            <h2 style="text-align: center;">Bitcoin wallet comparison table</h2>

            <h2>The complete beginner’s guide to Bitcoin wallets</h2>
            <p>What will you learn in this guide? Everything you need to know, including what a Bitcoin wallet is, how to get it, and what to watch out for. Here’s a complete table of contents:</p>
            <ol>
                <li><a class="_ps2id _mPS2id-h" href="#bitcoin-wallet" data-ps2id-offset="">What is a Bitcoin wallet?</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#private-key" data-ps2id-offset="">What is a <abbr rel="tooltip" title="A secret (long) number that allows bitcoins to be spent. The private key is mathematically related to all Bitcoin addresses and public keys generated from it.">private key</abbr>?</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#hd-wallets" data-ps2id-offset="">HD Wallets</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#choose-wallet" data-ps2id-offset="">Choosing your wallet</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#wallet-type" data-ps2id-offset="">Main types of wallets</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#additional-wallets" data-ps2id-offset="">Additional types of wallets</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#wallet-backup" data-ps2id-offset="">Backing up your wallet</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#transaction-fees" data-ps2id-offset="">Handling transaction fees</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#watch-out" data-ps2id-offset="">What to watch out for</a></li>
                <li><a class="_ps2id _mPS2id-h" href="#wallet-review" data-ps2id-offset="">Best Bitcoin wallets review summaries</a></li>
            </ol>
            <hr>
            <h2>
                <a id="bitcoin-wallet" data-ps2id-target="" class="_mPS2id-t mPS2id-target mPS2id-target-first mPS2id-target-last"></a>1. What is a Bitcoin wallet?</h2>
            <p>A Bitcoin wallet is a program for sending and receiving bitcoins. A Bitcoin wallet&nbsp;does that by interacting with Bitcoin’s ledger, known as the <a href="https://99bitcoins.com/what-is-blockchain/"><abbr rel="tooltip" title="The full list of mined blocks since the creation of Bitcoin. There is also a company called Blockchain.info which supplies various Bitcoin services such as a block explorer and a bitcoin wallet but they have no control or authority over Bitcoin's blockchain.">blockchain</abbr></a>.
                Bitcoin wallet programs are available for mobile phones, desktops, and even as a standalone piece of hardware (more on that later on).</p>
            <p>Generally speaking, Bitcoin wallets are a bit similar to how email works. If you want to send and receive emails, you need some sort of a program to do so (e.g., Gmail, Outlook). Like emails, receiving Bitcoins requires a unique personal address.
                This unique address is called your Bitcoin address, and—just like your email address—you can share it with anyone who wants to send you bitcoins.</p>
            <p style="text-align: center;"><strong>Bitcoin address example:</strong> 1BoatSLRHtKNngkdXEeobR76b53LETtpyT</p>
            <p style="text-align: center;">(Bitcoin addresses always start with a “1” or “3”)</p>
            <p>The final ingredient that’s missing is your password. With email, you choose your own password, while with Bitcoin, the wallet chooses it randomly for you. This password is called your private key and—similar to your email password—it should
                never be shared with anyone.</p>
            <hr>

            <!--#######################################################################-->
        </div>
        <div class="etheriumWallet">
            <!--#######################################################################-->


            <!--#######################################################################-->
        </div>
        <div class="litecoinWallet">
            <!--#######################################################################-->


            <!--#######################################################################-->
        </div>
        <div class="eosWallet">
            <!--#######################################################################-->


            <!--#######################################################################-->
        </div>
        <div class="hardwareWallet">
            <!--#######################################################################-->


            <!--#######################################################################-->
        </div>
    </div>
    <div class="col-s-2">
        <div class="newsletter">
            <div class="row">
                <h4 class="p-title newsletter"><b>NEWSLETTER </b></h4>
                <p class="mb-20">Subscribe to our newsletter to get notification about new updates, information, discount, etc..</p>
                <form class="nwsltr-primary-1">
                    <input type="text" placeholder="Your email">
                    <button type="submit"><i class="ion-ios-paperplane"></i></button>
                </form>
            </div>
            <div class="row">
                <h4 class="p-title law"><b>PRICE </b></h4>
                <ul class="list-block list-li-ptb-15 list-btm-border-white bg-primary center">
                    <li><b>1 BTC = $13,2323</b></li>
                    <li><b>1 BCH = $13,2323</b></li>
                    <li><b>1 ETH = $13,2323</b></li>
                    <li><b>1 LTC = $13,2323</b></li>
                    <li><b>1 DAS = $13,2323</b></li>
                    <li><b>1 BCC = $13,2323</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>