<div class="cryptoCardTitle">
    <h2>
        The List of Commonly Used Crypot Cards
    </h2>
    <h4>Card Currency ,Supported Cryptos, Anonymity, EaseOfUse, Fees and Other Technical aspects </h4>
</div>

<div class="row">
    <div class="col-s-1">

    </div>
    <div class="col-s-10">
        <div class="row main">
            <div class="row">
                <div class="col-s-4">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by Name">
                    </mat-form-field>
                </div>
                <div class="pagination col-s-8">
                    <h2>
                        <mat-paginator [pageSizeOptions]="[25, 50,75]" showFirstLastButtons>
                        </mat-paginator>
                    </h2>
                </div>
            </div>
            <div class="row overflow-container">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
                        <!-- Name Column -->
                        <ng-container matColumnDef="name" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <h3>Name</h3>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="row">
                                    <div class="logo col-s-2">
                                        <img class="walletIcon" src="../../assets/images/mine/mine/equipment{{element.LogoUrl}}" />
                                    </div>
                                    <div class="col-s-10">
                                        <div class="row">
                                            <h3 class="exchName"> {{element.Name}}
                                                <button class="recommend" *ngIf="element.Recommended" mat-stroked-button [disabled]="true"><b>Recommended by IC</b></button>
                                            </h3>
                                        </div>
                                        <div class="row">
                                            <p> {{element.Cost}} $</p>
                                        </div>

                                        <ul class="row firstrow">
                                            <li>
                                                <span><p>Company</p></span>
                                                <span><h4>{{element.Company}}</h4></span>
                                            </li>
                                            <li>
                                                <span><p>HashesPerSecond</p></span>
                                                <span><h4>{{element.HashesPerSecond | transform:2}}</h4></span>
                                            </li>
                                            <li>
                                                <span><p>Algorithm</p></span>
                                                <span><h4>{{element.Algorithm}}</h4></span>
                                            </li>
                                            <li>
                                                <span><p>Currency</p></span>
                                                <span><h4>{{element.Currency}}</h4></span>
                                            </li>
                                        </ul>
                                        <ul class="row firstrow">
                                            <li>
                                                <span><p>PowerConsumption</p></span>
                                                <span><h4>{{element.PowerConsumption}}</h4></span>
                                            </li>
                                            <li>
                                                <span><p>CurrenciesAvailableName</p></span>
                                                <span><h4>{{element.CurrenciesAvailableName}}</h4></span>
                                            </li>
                                            <li>
                                                <span><p>EquipmentType</p></span>
                                                <span><h4>{{element.EquipmentType}}</h4></span>
                                            </li>
                                        </ul>

                                        <div class="row webLink">
                                            <button (click)="GotoTheLink(element.AffiliateURL)" mat-stroked-button>Website </button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true "></tr> -->
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>