li {
    list-style-type: none;
}

.selected {
    background-color: #00ABED;
    color: white;
}

.paddingzero {
    padding: 0px;
}

.subtitles {
    p {
        text-align: center;
        margin: 0px;
    }
    .cursor {
        font-size: 14px;
    }
}

.mat-expansion-panel-body {
    padding: 0 0px 16px;
}

@media(min-width:600px) {
    .subtitles {
        position: static;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }
    #routerOut {
        margin-left: 0px;
    }
    .content {
        min-height: 100%;
    }
}

.subtitles {
    position: fixed;
    width: 250px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

#routerOut {
    margin-left: 225px;
}

.content {
    min-height: 350px;
}