<div class="preventcopy">
    <div *ngIf="title == 'Transaction Fee'">
        <h1 class="contentTitle" class="contentTitle">{{title}}</h1>
        <h2><span style="font-size: 12pt;">What are the transaction fees?</span></h2>
        <p>Transaction fees are included with your cryptocurrency transaction in order to have your transaction processed by a miner and confirmed by the cryptocurrency network. The space available for transactions in a block is currently artificially limited
            to 1 MB in the 'Bitcoin network'. This means that to get your transaction processed quickly you will have to outbid other users.</p>
        <h2><span style="font-size: 12pt;">Investing in virtual currencies could mean paying up to three different types of fees.</span></h2>
        <p><span style="font-size: 11pt;">Most virtual currencies have transaction fees attached. We're familiar with the idea of buying and selling stock and paying a brokerage firm for being the facilitator of that transaction, but similar (and additional) fees can be charged in the cryptocurrency market, depending on the token and exchange.</span></p>
        <p>we'll take a brief look at the types of transaction fees you may encounter if you choose to invest in cryptocurrencies, and we'll examine which cryptocurrencies, among the largest by market cap, offer the lowest transaction fees.</p>
        <p>In total, there are three transaction fees you could be hit with when dealing with cryptocurrencies</p>
        <ol>
            <li>Exchange Fees</li>
            <li>Network Fees</li>
            <li>Wallet Fees</li>
        </ol>
        <p><strong>Excange Fees</strong></p>
        <p>This first transaction fee is one we should be familiar with, as it describes the idea of paying a "commission" to complete a buy or sell order. Most cryptocurrency exchanges tend to use a fixed-fee format, but the actual cost of transaction fees
            can vary by platform. In essence, it's always smart to do some homework and find out which crypto exchanges offer the lowest transaction fees.</p>
        <p>However, another model known as maker-taker exists within crypto exchanges that can cause transaction fees to fluctuate, as&nbsp;<a href="https://hype.codes/cryptocurrency-transaction-fees-beginners" target="_blank">described by Hype.Codes</a>.
            The maker (seller of cryptocurrency)-taker (buyer of cryptocurrency) model charges a variable fee based on your amount of trading activity. If you're an active trader, or one who has transacted a high dollar amount over, say, a 30-day rolling
            period, you as the maker may qualify for a reduced transaction fee.</p>
        <p>&nbsp;</p>
        <p><strong>Network fees</strong></p>
        <p>Next, you may be required to pay transaction fees in order to incentivize&nbsp;cryptocurrency miners. Miners are nothing more than persons with high-powered computers who are charged with verifying and validating transactions to be added to a
            blockchain. In short, they make sure that tokens weren't spent twice and that transactions are indeed true.</p>
        <p>The validation of these transactions can vary by network, with miners setting their own price, and investors or crypto users choosing whether or not to accept it. Of course, the obvious should be stated: The lower transaction fee an investor or
            crypto user is willing to pay, the longer that transaction could take to be validated, as it'll be a low priority for miners.</p>
        <p><strong>Wallet fees:&nbsp;</strong></p>
        <p>Lastly, it's possible you'll pay fees to store your cryptocurrency in a digital wallet. The software used to develop wallets, as well as updates, isn't free, meaning you might owe a nominal amount to store your cryptocurrency.&nbsp;</p>
    </div>
    <div *ngIf="title == 'Exchanges'">
        <h1 class="contentTitle" class="contentTitle">{{title}}</h1>
    </div>
    <div *ngIf="title == 'Coin Swap'">
        <h1 class="contentTitle" class="contentTitle">{{title}}</h1>
    </div>
    <div *ngIf="title == 'ATM'">
        <h1 class="contentTitle" class="contentTitle">{{title}}</h1>
    </div>
    <div *ngIf="title == 'ICO'">
        <h1 class="contentTitle" class="contentTitle">{{title}}</h1>
    </div>
</div>