.contentTitle {
    text-align: center;
}

p {
    text-align: justify;
}

.preventcopy {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}