<div class="walletTitle">
    <h2>
        The List of Commonly Used Wallets
    </h2>
    <h4>Platform ,Supported Cryptos, Anonymity, EaseOfUse and Other Technical aspects </h4>
</div>

<div class="row">
    <div class="col-s-1">

    </div>
    <div class="col-s-10">
        <div class="row main">
            <div class="row">
                <div class="col-s-4">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by Name">
                    </mat-form-field>
                </div>
                <div class="pagination col-s-8">
                    <h2>
                        <mat-paginator [pageSizeOptions]="[25, 50,75]" showFirstLastButtons>
                        </mat-paginator>
                    </h2>
                </div>
            </div>
            <div class="row overflow-container">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
                        <!-- Name Column -->
                        <ng-container matColumnDef="name" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <h3>Name</h3>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="row">
                                    <div class="logo col-s-2">
                                        <img class="walletIcon" src="../../assets/images/wallet/commonwallet{{element.LogoUrl}}" />
                                    </div>
                                    <div class="col-s-10">
                                        <div class="row">
                                            <h3 class="exchName"> {{element.Name}}
                                                <button class="recommend" *ngIf="element.Recommended" mat-stroked-button [disabled]="true"><b>Recommended by IC</b></button>
                                            </h3>
                                            <div class="row">
                                                <div class="col-s-6">
                                                    <ul class="platform marginzero">
                                                        <p class="marginzero bold">Supported Platform</p>
                                                        <li *ngFor="let item of element.Platforms">
                                                            <img class="platformImg" src="../../assets/images/platform/{{item| lowercase}}.png" />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-s-6 technicalAspects">
                                                    <p class="marginzero bold">Technical Aspects</p>

                                                    <ul class="row firstrow marginzero">
                                                        <li>
                                                            <span><p>Security</p></span>
                                                            <span><h4>{{element.Security}}</h4></span>
                                                        </li>
                                                        <li>
                                                            <span><p>Anonymity</p></span>
                                                            <span><h4>{{element.Anonymity}}</h4></span>
                                                        </li>
                                                        <li>
                                                            <span><p>EaseOfUse</p></span>
                                                            <span><h4>{{element.EaseOfUse}}</h4></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p class="marginzero bold center">Wallet Features</p>
                                            <ul class="row firstrow marginzero center">
                                                <li class="marginzero" *ngFor="let item of element.WalletFeatures">
                                                    {{item}}
                                                </li>
                                            </ul>
                                            <p class="marginzero bold">Supported coins</p>
                                            <ul class="row firstrow marginzero">
                                                <button *ngFor="let item of element.Coins" mat-stroked-button>
                                                    {{item}}                                               
                                                </button>
                                            </ul>

                                            <div class="row ">
                                                <div class="col-s-6 ">
                                                    <p><span class="bold">Validation Type</span> : {{element.ValidationType}}</p>
                                                </div>
                                                <div class="col-s-6 weblink">
                                                    <button (click)="GotoTheLink(element.SourceCodeUrl)" mat-stroked-button>Github </button>
                                                    <button (click)="GotoTheLink(element.AffiliateURL)" mat-stroked-button>Website </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true "></tr> -->
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>