<div class="center">
    <h2>
        How to Mine
    </h2>
    <h4>Learn to mine various cryptocurrencies</h4>
</div>

<div class="row">
    <div class="col-s-2 data">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bitcoin
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li [ngx-scroll-to]="'#dest1'">Bitcoin Mining</li>
                <li [ngx-scroll-to]="'#dest2'">Mining Hardware</li>
                <li [ngx-scroll-to]="'#dest3'"> Mining Calculator</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Etherium
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li [ngx-scroll-to]="'#dest1'">Etherium Mining</li>
                <li [ngx-scroll-to]="'#dest2'">Mining Hardware</li>
                <li [ngx-scroll-to]="'#dest3'"> Mining Calculator</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Litecoin
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li [ngx-scroll-to]="'#dest1'">Litecoin Mining</li>
                <li [ngx-scroll-to]="'#dest2'">Mining Hardware</li>
                <li [ngx-scroll-to]="'#dest3'"> Mining Calculator</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Monero
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li [ngx-scroll-to]="'#dest1'">Monero Mining</li>
                <li [ngx-scroll-to]="'#dest2'">Mining Hardware</li>
                <li [ngx-scroll-to]="'#dest3'"> Mining Calculator</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dash
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li [ngx-scroll-to]="'#dest1'">Dash Mining</li>
                <li [ngx-scroll-to]="'#dest2'">Mining Hardware</li>
                <li [ngx-scroll-to]="'#dest3'"> Mining Calculator</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Zcash
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li [ngx-scroll-to]="'#dest1'">Zcash Mining</li>
                <li [ngx-scroll-to]="'#dest2'">Mining Hardware</li>
                <li [ngx-scroll-to]="'#dest3'"> Mining Calculator</li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Dash
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li [ngx-scroll-to]="'#dest1'">Dash Mining</li>
                <li [ngx-scroll-to]="'#dest2'">Mining Hardware</li>
                <li [ngx-scroll-to]="'#dest3'"> Mining Calculator</li>
            </ul>
        </mat-expansion-panel>
    </div>
</div>