<div class="simple-ad">
    <a (click)="ShareThisPage('facebook')">
        <img src="../../assets/images/share/facebookIcon.jpg" alt="img">
    </a>
    <a (click)="ShareThisPage('twitter')">
        <img src="../../assets/images/share/twitterIcon.jpg" alt="img">
    </a>
    <a (click)="ShareThisPage('linkedin')">
        <img src="../../assets/images/share/linkedinIcon.jpg" alt="img">
    </a>
    <a (click)="ShareThisPage('googleplus')">
        <img src="../../assets/images/share/googlePlusIcon.jpg" alt="img">
    </a>
    <!-- <a (click)="ShareThisPage('stumbleupon')">
        <img src="../../assets/images/share/StumbleUponIcon.jpg" alt="img">
    </a> -->
    <a (click)="ShareThisPage('reddit')">
        <img src="../../assets/images/share/reddit.jpg" alt="img">
    </a>
</div>