<h4 class="p-title toNews"><b>TOP NEWS</b></h4>
<!--Grid View-->

<div class="row newscard">
    <div class="col-s-8 equal">
        <mat-card class="calendar-card bg-1">
            <mat-card-content>
                <h3><b>Peter Thiels VC Found Invests Million into Bitcoin, Market Reacts</b></h3>
            </mat-card-content>
            <mat-card-actions>
                <button class="readMore negative" mat-button>Read more</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-s-4">
        <mat-card class="calendar-card bg-2">
            <mat-card-content>
                <h3><b>Peter Thiels VC Found Invests Million into Bitcoin, Market Reacts</b></h3>>
            </mat-card-content>
            <mat-card-actions>
                <button class="readMore negative" mat-button>Read more</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="calendar-card bg-3">
            <mat-card-content>
                <h3><b>Peter Thiels VC Found Invests Million into Bitcoin, Market Reacts</b></h3>>
            </mat-card-content>
            <mat-card-actions>
                <button class="readMore negative" mat-button>Read more</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div class="row newscard">
    <div class="col-s-4">
        <mat-card class="calendar-card bg-4">

            <mat-card-content>
                <h3><b>Peter Thiels VC Found Invests Million into Bitcoin, Market Reacts</b></h3>>
            </mat-card-content>
            <mat-card-actions>
                <button class="readMore negative" mat-button>Read more</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-s-4">
        <mat-card class="calendar-card bg-5">

            <mat-card-content>
                <h3><b>Peter Thiels VC Found Invests Million into Bitcoin, Market Reacts</b></h3>>
            </mat-card-content>
            <mat-card-actions>
                <button class="readMore negative" mat-button>Read more</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-s-4">
        <mat-card class="calendar-card bg-6">

            <mat-card-content>
                <h3><b>Peter Thiels VC Found Invests Million into Bitcoin, Market Reacts</b></h3>>
            </mat-card-content>
            <mat-card-actions>
                <button class="readMore negative" mat-button>Read more</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<h4 class="p-title"><b>RECENT NEWS</b></h4>
<!--List View-->
<div class="row">
    <div class="col-s-4">
        <mat-card class="newsMatCard">
            <mat-card-header>
                <mat-card-title class="content">2017 Market Performance </mat-card-title>
                <mat-card-subtitle>Crypto vs Stocks</mat-card-subtitle>
            </mat-card-header>
            <img class="calImg " mat-card-image src="../../assets/news-images/slider-2-450x600.jpg" alt="Photo of a BTC ">
            <mat-card-content class="content">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                <p class="negative cursor">read more</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-s-4">
        <div class="row">
            <div class="col-s-3 newsIcoCol">
                <img class="newsIco" src="../../assets/news-images/slider-3-450x600.jpg ">
            </div>
            <div class="col-s-9 newsContentCol">
                <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                <p class="negative cursor">read more</p>
            </div>
        </div>
        <div class="row">

            <div class="col-s-3 newsIcoCol">
                <img class="newsIco" src="../../assets/news-images/slider-4-450x600.jpg ">
            </div>
            <div class="col-s-9 newsContentCol">
                <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                <p class="negative cursor">read more</p>
            </div>
        </div>
        <div class="row">

            <div class="col-s-3 newsIcoCol">
                <img class="newsIco" src="../../assets/news-images/slider-5-450x600.jpg ">
            </div>
            <div class="col-s-9 newsContentCol">
                <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                <p class="negative cursor">read more</p>
            </div>
        </div>
        <div class="row">

            <div class="col-s-3 newsIcoCol">
                <img class="newsIco" src="../../assets/news-images/slider-6-450x600.jpg ">
            </div>
            <div class="col-s-9 newsContentCol">
                <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                <p class="negative cursor">read more</p>
            </div>
        </div>

    </div>
    <div class="col-s-4 newsletter">
        <div class="row">
            <h4 class="p-title newsletter"><b>NEWSLETTER </b></h4>
            <p class="mb-20">Subscribe to our newsletter to get notification about new updates, information, discount, etc..</p>
            <form class="nwsltr-primary-1">
                <input type="text" placeholder="Your email">
                <button type="submit"><i class="ion-ios-paperplane"></i></button>
            </form>
        </div>
        <div class="row">
            <h4 class="p-title law"><b>PRICE </b></h4>
            <ul class="list-block list-li-ptb-15 list-btm-border-white bg-primary center">
                <li><b>1 BTC = $13,2323</b></li>
                <li><b>1 BCH = $13,2323</b></li>
                <li><b>1 ETH = $13,2323</b></li>
                <li><b>1 LTC = $13,2323</b></li>
                <li><b>1 DAS = $13,2323</b></li>
                <li><b>1 BCC = $13,2323</b></li>
            </ul>
        </div>
    </div>
</div>

<h4 class="p-title law"><b>INDIA </b></h4>

<!-- <div class="row">
    <div class="col-s-5">
        <mat-card class="newsMatCard">
            <mat-card-header>
                <mat-card-title class="content">2017 Market Performance </mat-card-title>
                <mat-card-subtitle>Crypto vs Stocks</mat-card-subtitle>
            </mat-card-header>
            <img class="calImg " mat-card-image src="../../assets/news-images/slider-4-450x600.jpg" alt="Photo of a BTC ">
            <mat-card-content class="content">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                <p class="negative cursor">read more</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-s-4">
        <mat-card class="newsMatCard">
            <mat-card-header>
                <mat-card-title class="content">2017 Market Performance </mat-card-title>
                <mat-card-subtitle>Crypto vs Stocks</mat-card-subtitle>
            </mat-card-header>
            <img class="calImg " mat-card-image src="../../assets/news-images/slider-3-450x600.jpg" alt="Photo of a BTC ">
            <mat-card-content class="content">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                <p class="negative cursor">read more</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-s-3">
        <h4 class="p-title law"><b>PRICE </b></h4>
        <ul class="list-block list-li-ptb-15 list-btm-border-white bg-primary center">
            <li><b>1 BTC = $13,2323</b></li>
            <li><b>1 BCH = $13,2323</b></li>
            <li><b>1 ETH = $13,2323</b></li>
            <li><b>1 LTC = $13,2323</b></li>
            <li><b>1 DAS = $13,2323</b></li>
            <li><b>1 BCC = $13,2323</b></li>
        </ul>
    </div>
</div> -->

<div class="col-s-4">
    <div class="row">
        <div class="col-s-3 newsIcoCol">
            <img class="newsIco" src="../../assets/news-images/slider-3-450x600.jpg ">
        </div>
        <div class="col-s-9 newsContentCol">
            <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
            <p class="negative cursor">read more</p>
        </div>
    </div>
    <div class="row">

        <div class="col-s-3 newsIcoCol">
            <img class="newsIco" src="../../assets/news-images/slider-5-450x600.jpg ">
        </div>
        <div class="col-s-9 newsContentCol">
            <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
            <p class="negative cursor">read more</p>
        </div>
    </div>
</div>
<div class="col-s-4">
    <div class="row">

        <div class="col-s-3 newsIcoCol">
            <img class="newsIco" src="../../assets/news-images/slider-4-450x600.jpg ">
        </div>
        <div class="col-s-9 newsContentCol">
            <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
            <p class="negative cursor">read more</p>
        </div>
    </div>
    <div class="row">

        <div class="col-s-3 newsIcoCol">
            <img class="newsIco" src="../../assets/news-images/slider-5-450x600.jpg ">
        </div>
        <div class="col-s-9 newsContentCol">
            <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
            <p class="negative cursor">read more</p>
        </div>
    </div>
</div>
<div class="col-s-4">
    <div class="row">

        <div class="col-s-3 newsIcoCol">
            <img class="newsIco" src="../../assets/news-images/slider-6-450x600.jpg ">
        </div>
        <div class="col-s-9 newsContentCol">
            <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
            <p class="negative cursor">read more</p>
        </div>
    </div>
    <div class="row">

        <div class="col-s-3 newsIcoCol">
            <img class="newsIco" src="../../assets/news-images/slider-2-450x600.jpg ">
        </div>
        <div class="col-s-9 newsContentCol">
            <p class="newsContent">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
            <p class="negative cursor">read more</p>
        </div>
    </div>
</div>