<div class="coinPriceTitle">
    <h2>
        Top 25 Indian Cryptocurrencies by Market Capitalization
    </h2>
    <h4>List of Cryptocurrencies that are available in Indian Exchanges</h4>
</div>

<div class="mainElement row">
    <div class="col-s-2">
        <mat-form-field appearance="outline">
            <mat-label>Enter Crypto Name</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="currencySelection col-s-2">
        <mat-form-field appearance="outline" class="form-field">
            <mat-select [(value)]="currency" (selectionChange)="getCryptoPrice($event.value)">
                <mat-option value="INR">INR</mat-option>
                <mat-option value="USD">USD</mat-option>
                <mat-option value="BTC">BTC</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="pagination col-s-8">
        <h2>
            <mat-paginator [pageSizeOptions]="[25, 50,75]" showFirstLastButtons>
            </mat-paginator>
        </h2>
    </div>

</div>
<div class="row overflow-container">
    <div class="pricetable mat-elevation-z8">


        <table mat-table [dataSource]="dataSource" matSort matSortActive="MarketCap" matSortDirection="desc">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> #</h3>
                </th>
                <td mat-cell class="rollNo" *matCellDef="let element; let i = index;">{{DisplayPageDetails(i)}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3>Name</h3>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div routerLink="../CoinDetails/{{element.name}}/{{currency}}" routerLinkActive="active" class="cursor"><img class="coinIcon" src="../../assets/images/coins/{{element.name| lowercase}}.png" /><span class="cryptName">{{element.fullName}}</span> ({{element.name}})
                    </div>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="MarketCap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> MarketCap</h3>
                </th>
                <td mat-cell *matCellDef="let element">{{currencySymbol}} {{element.MarketCap | transform : 2}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Price</h3>
                </th>
                <td mat-cell *matCellDef="let element">{{currencySymbol}} {{element.Price| number : fractionSize }} </td>
            </ng-container>


            <!-- Weight Column -->
            <ng-container matColumnDef="totalsupply">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3>Total Supply</h3>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.totalsupply | transform : 2}} </td>
            </ng-container>

            <!-- Volume Column -->
            <ng-container matColumnDef="Volume">
                <th class="volume" mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h3> Volume(24H)</h3>
                </th>
                <td mat-cell *matCellDef="let element">{{currencySymbol}} {{element.volume| transform : 2}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Change">
                <th mat-header-cell *matHeaderCellDef mat-sort-header stickyend>
                    <h3>Change(24H)</h3>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'positive' : element.Change > 0, 'negative' : element.Change < 0}"> {{element.Change | number : fractionSize }} % </td>
            </ng-container>

            <!-- Star Column -->
            <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon>more_vert</mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>