.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

table {
    width: 100%;
    // padding: 30px;
}

.coinPriceTitle {
    text-align: center;
    padding: 15px;
}

h3 {
    font-size: 20px;
}

.rollNo {
    width: 30px;
}

.pagination {
    padding: 0px;
    text-align: end;
}

.sticky {
    height: auto !important;
}

// By default, the mobile label shouldn't show
.mobile-label {
    display: none;
}

.form-field {
    width: 77%;
}

.hide {
    display: none;
}

.cursor:hover {
    color: #4130af;
    font-size: 17px;
}

.overflow-container {
    overflow-x: scroll;
}

.mat-select-value {
    text-align: center;
}

.currencySelection,
{
    width: 125px;
}

.cryptName {
    //@extendcolor: brown;
    text-decoration: underline;
    text-decoration-color: aqua;
    font-weight: bold;
}

@media(max-width: 600px) {
    // Custom header label that shows in each column, with a set width and bold font
    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }
    // Remove the header row altogether
    .mat-header-row {
        font-size: 10px
    }
    // The row cells should display as a column, justified left, with a bit of extra padding
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 68px 20px;
    }
    .mat-cell,
    h3 {
        font-size: 10px
    }
    .mat-cell,
    .mat-header-cell {
        font-size: 12px;
        padding: 10px;
    }
    h3 {
        font-size: 12px;
    }
    .mat-form-field-flex {
        width: 73px;
    }
    .mainElement {
        padding: 5%;
        padding-top: inherit;
        padding-bottom: inherit;
    }
    .currencySelection,
    {
        width: 135px;
    }
}