<div class="col-s-3 ">
    <mat-card class="calendar-card ">
        <mat-card-header>
            <div mat-card-avatar class="airdropIcon "></div>
            <mat-card-title>Bitcoin</mat-card-title>
            <mat-card-subtitle>BTC</mat-card-subtitle>
        </mat-card-header>
        <img class="calImg " mat-card-image src="../../../assets/images/coins/btc.png " alt="Photo of a BTC ">
        <mat-card-content>
            <p>
                1000 BTC
            </p>
            Ends in:
            <countdown-timer [end]=" '2019-01-01 00:00:00 ' "></countdown-timer>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Join</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="col-s-3 ">
    <mat-card class="calendar-card ">
        <mat-card-header>
            <div mat-card-avatar class="airdropIcon "></div>
            <mat-card-title>Bitcoin</mat-card-title>
            <mat-card-subtitle>BTC</mat-card-subtitle>
        </mat-card-header>
        <img class="calImg " mat-card-image src="../../../assets/images/coins/dbc.png " alt="Photo of a BTC ">
        <mat-card-content>
            <p>
                1000 BTC
            </p>
            Ends in:
            <countdown-timer [end]=" '2019-02-05 00:00:00 ' "></countdown-timer>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Join</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="col-s-3 ">
    <mat-card class="calendar-card ">
        <mat-card-header>
            <div mat-card-avatar class="airdropIcon "></div>
            <mat-card-title>Bitcoin</mat-card-title>
            <mat-card-subtitle>BTC</mat-card-subtitle>
        </mat-card-header>
        <img class="calImg " mat-card-image src="../../../assets/images/coins/eth.png " alt="Photo of a BTC ">
        <mat-card-content>
            <p>
                1000 BTC
            </p>
            Ends in:
            <countdown-timer [end]=" '2019-03-09 00:00:00 ' "></countdown-timer>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Join</button>
        </mat-card-actions>
    </mat-card>
</div>