.mat-stroked-button {
    margin-right: 0px;
}

.title {
    font-size: 16px;
    padding-top: 7px;
    text-align: center;
    font-size: 19px;
    font-size: 25px;
}

@media screen and (max-width: 580px) {
    .title {
        font-size: 20px;
    }
}

.socialTab {
    text-align: end;
}

@media screen and (max-width: 580px) {
    .socialTab {
        text-align: left;
    }
}

.setNightScreen {
    background-color: black;
    color: #ffffff;
}

.setDayScreen {
    background-color: rgb(65, 48, 175);
    color: #ffffff;
}

.menuBar {
    width: 100%;
    position: fixed;
    overflow: hidden;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.logo {
    margin: 0%;
    background-color: rgb(65, 48, 175);
}

.mat-stroked-button.mat-primary .mat-stroked-button-focus-overlay {
    background-color: transparent;
}

.mat-stroked-button:hover {
    background-color: #0099cc;
}

.fa {
    padding: 8px;
    font-size: 20px;
    width: 39px;
    text-align: center;
    text-decoration: none;
    margin: -4px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: #222;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-telegram {
    background: #55ACEE;
    color: white;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 8px;
}

.aside {
    background-color: #33b5e5;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mat-stroked-button {
    font-size: 14px;
}

.icon {
    display: none;
    text-align: end;
    font-size: 30px;
    padding: 13px;
    cursor: pointer;
}

.topnav {
    padding-left: 25px;
}

.sideNavBar {
    display: block;
    //padding-left: 25px;
}

.titleText {
    font-size: 17px;
}

@media screen and (max-width: 1200px) {
    .topnav {
        display: none;
    }
    .icon {
        display: block;
    }
    .socialTab {
        display: none;
    }
    .title {
        width: 75%;
        text-align: left;
        padding-left: 10px;
        padding-top: 13px;
        font-size: 21px;
    }
    .mat-stroked-button {
        width: 100%;
    }
    .titleText {
        font-size: 25px;
    }
}